.idea
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/HuJuRecSys.iml
.idea/encodings.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
.idea/dictionaries/Overh.xml
.idea/codeStyles/codeStyleConfig.xml
__pycache__/Utils.cpython-36.pyc
*.pyc
testing.py
HJ-RecSys.code-workspace
client/__pycache__/
/definitions.txt
client/app.db
